@page
@model Donut_Shop.Pages.Stocks.IndexModel

@{
    ViewData["Title"] = "Stock";
}

<h1>Stock</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Stock Level
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock[0].Store)
            </th>
            <th>
                Product Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Stock) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Products.ProductName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StockID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StockID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StockID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
